[user]
    email = josh.enders@gmail.com
    name = Josh Enders

[color]
    diff = auto
    status = auto
    branch = auto
	ui = true

[alias]
    tree = log --graph --pretty=oneline --abbrev-commit --decorate --color
    wdiff = diff --color-words

[push]
    default = current
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	first-run = false
