[user]
email = josh.enders@gmail.com
name = Josh Enders

[color]
diff = auto
status = auto
branch = auto

[alias]
tree = log --graph --pretty=oneline --abbrev-commit --decorate --color
wdiff = diff --color-words

[push]
default = current
